<div id="<%= dom_id publication %>">
  <p>
    <strong>Name:</strong>
    <%= publication.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= publication.description %>
  </p>

  <p class="mb-2">
    <% publication.images.each do |img| %>
      <%= image_tag img, style: "max-height: 32rem", class: "me-2 mb-2" %>
    <% end %>
  </p>

</div>
