<p style="color: green"><%= notice %></p>

<h1>Publications</h1>

<div id="publications">
  <% @publications.each do |publication| %>
    <%= render publication %>
    <p>
      <%= link_to "Show this publication", publication %>
    </p>
  <% end %>
</div>

<% if user_signed_in? && current_user.role == "admin" %> <!-- Primero el signed_in, luego el current_user -->
  <%= link_to "New publication", new_publication_path %>
<% end %>