<h1>Bienvenido/a Portal Postulaciones</h1>

<%= image_tag "https://pruebam6-jorge-lira.s3.us-west-1.amazonaws.com/82485399_1063774833995991_4033275844892819456_n.jpg", alt: "Un perrito con un gatito" %>

<%= link_to "Iniciar Sesión", new_user_session_path %>