<div class="row">
    <div class="col-xs-12 col-md-12 text-center">
        <h1>Bienvenido/a Portal Postulaciones</h1>

<%= image_tag "https://pruebam6-jorge-lira.s3.us-west-1.amazonaws.com/42831117_306385150178136_47799116238946304_n.png", class: "w-50" %>

<br>

<%= link_to "Ingresar al sitio", publications_path %>
    </div>
</div>